@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
body {
  margin: 0;
  background: url("../images/pattern-background-desktop.svg") #e0e8ff no-repeat;
  background-size: cover;
  font-family: "Red Hat Display", sans-serif; }

.card {
  width: 450px;
  height: 697px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .card .top img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%; }
  .card .bottom {
    margin-top: 45px; }
    .card .bottom h1 {
      color: #1F2E55;
      margin: 0;
      font-size: 28px;
      text-align: center; }
    .card .bottom p {
      margin-top: 17px;
      text-align: center;
      font-size: 16px;
      line-height: 26px;
      color: #717FA6; }
    .card .bottom .menu {
      margin-top: 20px;
      width: 354px;
      height: 98px;
      background: #f7f9ff;
      border-radius: 11px;
      left: 50%;
      position: relative;
      transform: translate(-50%);
      display: flex; }
      .card .bottom .menu .icone {
        margin-left: 24px;
        margin-top: 25px; }
      .card .bottom .menu .plan {
        margin-left: 20px;
        margin-top: 25px;
        font-size: 16px; }
        .card .bottom .menu .plan .plan-name {
          font-weight: 900; }
        .card .bottom .menu .plan .plan-price {
          font-weight: 500;
          margin-top: 6px;
          color: #717fa6; }
      .card .bottom .menu .change {
        margin-top: 40px;
        margin-left: 92px; }
        .card .bottom .menu .change a {
          font-size: 14px;
          font-weight: 700;
          color: #382ae1; }
          .card .bottom .menu .change a:hover {
            text-decoration: none;
            color: #766CF1; }
    .card .bottom .payment-div {
      margin-top: 32px;
      margin-left: 48px; }
      .card .bottom .payment-div .button-payment {
        display: flex;
        background: #382ae1;
        border-radius: 11px;
        width: 354px;
        height: 50px;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 900;
        color: white;
        text-decoration: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
        .card .bottom .payment-div .button-payment:hover {
          background: #766cf1; }
    .card .bottom .cancel-div {
      margin-top: 32px;
      margin-left: 176px; }
      .card .bottom .cancel-div .cancel-order {
        color: #717fa6;
        text-decoration: none;
        font-size: 15px;
        font-weight: 900; }
        .card .bottom .cancel-div .cancel-order:hover {
          color: #1f2e55; }
