@import "./responsive/variables.scss";
@import "./responsive/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

body {
	margin: 0;
	background: url("../images/pattern-background-desktop.svg") #e0e8ff no-repeat;
	background-size: cover;
	font-family: "Red Hat Display", sans-serif;
}

.card {
	width: 450px;
	height: 697px;
	background: white;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

	position: absolute;
	left: 40%;
	top: 50%;
	transform: translate(-40%, -50%);

	@include mobile {
		width: 90%;
		height: auto;
	}

	.top {
		img {
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			width: 100%;
		}
	}

	.bottom {
		margin-top: 45px;

		@include mobile {
			margin-top: 32px;
		}

		h1 {
			color: #1f2e55;
			margin: 0;
			font-size: 28px;
			text-align: center;

			@include mobile {
				font-size: 22px;
			}
		}

		p {
			margin-top: 17px;
			text-align: center;
			font-size: 16px;
			line-height: 26px;
			color: #717fa6;
			font-weight: 500;

			@include mobile {
				font-size: 15px;
				line-height: 25px;
			}
		}

		.menu {
			margin-top: 20px;
			width: 354px;
			height: 98px;
			background: #f7f9ff;
			border-radius: 11px;
			left: 50%;
			position: relative;
			transform: translate(-50%);
			display: flex;

			@include mobile {
				width: 90%;
				height: 81px;
			}

			.icone {
				margin-left: 24px;
				margin-top: 25px;

				@include mobile {
					margin-left: 16px;
					margin-top: 17px;
				}
			}

			.plan {
				margin-left: 20px;
				margin-top: 25px;
				font-size: 16px;

				@include mobile {
					margin-left: 20px;
					margin-top: 21px;
				}

				.plan-name {
					font-weight: 900;
					font-size: 16px;

					@include mobile {
						font-size: 14px;
					}
				}

				.plan-price {
					font-weight: 500;
					margin-top: 6px;
					color: #717fa6;

					@include mobile {
						font-size: 14px;
						margin-top: 3px;
					}
				}
			}

			.change {
				margin-top: 40px;
				margin-left: 92px;

				@include mobile {
					margin-left: 50px;
					margin-top: 33px;
				}

				a {
					font-size: 14px;
					font-weight: 700;
					color: #382ae1;

					&:hover {
						text-decoration: none;
						color: #766cf1;
					}
				}
			}
		}

		.payment-div {
			margin-top: 32px;

			.button-payment {
				margin-left: auto;
				margin-right: auto;

				display: flex;
				background: #382ae1;
				border-radius: 11px;

				width: 354px;
				height: 50px;
				justify-content: center;
				align-items: center;

				font-size: 15px;
				font-weight: 900;
				color: white;
				text-decoration: none;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

				@include mobile {
					width: 90%;
					height: 50px;
				}

				&:hover {
					background: #766cf1;
				}
			}
		}

		.cancel-div {
			margin-top: 32px;
			text-align: center;

			@include mobile {
				margin-bottom: 20px;
			}

			.cancel-order {
				color: #717fa6;
				text-decoration: none;
				font-size: 15px;
				font-weight: 900;

				&:hover {
					color: #1f2e55;
				}
			}
		}
	}
}
